/* Général */

* {
    padding: 0px;
    margin: 0;
    position: static;
}

.container {
    width: auto;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: rgb(2,0,36);
background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 51%, rgba(38,125,143,1) 95%);
    height: 100px;
    border-bottom: 1px solid rgba(232, 223, 223, 0.872);
    border-radius: 10px;

}

h1 {
    font-size: 45px;
}
h2  {
    font-size: 18px;
    padding-bottom: 5px; 
}
h1 h2 {
    font-family: "Crete Round", sans-serif;
}

.bleu {color: rgba(19, 34, 144, 0.945)}
.blanc {color: rgba(232, 223, 223, 0.872)}
.rouge {color: rgb(174, 13, 13)}

a {
    text-decoration: none;
}
a:hover {
    font-size: 15px;
}
li {
    list-style: none;
}

/* Header */



h1, h2 { text-align: center;}

.nav1 {
    float:right;
    margin: 0px 0px;
    font-family: "crete round", sans-serif;
    font-size: 13px;
    padding: 20px 15px;
    border-left: 1px solid rgba(232, 223, 223, 0.872);
    height: 61px;
    border-radius: 10px;
}

header nav ul li a { 
    color: rgba(232, 223, 223, 0.872);
}

.logo {
    width: 60px;
    height: auto;
    float: left;
    margin: 5px 0 30px 25px;
    border-right: 1px solid rgba(232, 223, 223, 0.872);
}


/* FORMULAIRE */


.formulaireinscription, .formulaireconnexion {
    margin-top: 100px;
    height: 500px;
    padding-top: 100px;
    padding-left: 40%;
    padding-bottom: 10px;
    background-color: rgb(2,0,36);
background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 51%, rgba(38,125,143,1) 95%);
}

.input-group {
    position: relative;
    padding-bottom: 10px;
   }
   
   .input {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .user-label {
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .input:focus, input:valid {
    outline: none;
    border: 1.5px solid #1a73e8;
   }
   
   .input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: #212121;
    padding: 0 .2em;
    color: #2196f3;
   }

   /* Bouton */

  #placementbouton {
      padding-top: 15px;
      padding-left: 35px;
  }
  #placementboutonconnexion {
      padding-left: 30px;
      padding-top: 15px;
  }
   button {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(164, 95, 228, 0.781);
    --enhanced-glow-color: rgb(55, 37, 72);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }


   /* FOOTER */

footer {
    height: 100px;
    display: flex;
    
}
.contactect {
    width: 33.3%;  
    height: 200px;
}

.nav2 {
    
    
    background-color:white;
    padding-top:25px;
    text-align: center;
}


footer .nav2 ul li a {
    color: #003566;
    font-family: "crete round", sans-serif;
    font-size: 12px;
}

.rs   {
    float: left;
    background-color: blue;
    width: 33.3%;
    height: 100px;
}

.riendutout {
    background-color: red;
 
    height: 100px;
    width: 33.3%;
   
}

