/* Général */

* {
    padding: 0px;
    margin: 0;
    position: static;
}

.container {
    width: auto;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: rgb(2,0,36);
background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 51%, rgba(38,125,143,1) 95%);
    height: 100px;
    border-bottom: 1px solid rgba(232, 223, 223, 0.872);
    border-radius: 10px;

}

h1 {
    font-size: 45px;
}
h2  {
    font-size: 18px;
    padding-bottom: 5px; 
}
h1 h2 {
    font-family: "Crete Round", sans-serif;
}

.bleu {color: rgba(19, 34, 144, 0.945)}
.blanc {color: rgba(232, 223, 223, 0.872)}
.rouge {color: rgb(174, 13, 13)}

a {
    text-decoration: none;
}
a:hover {
    font-size: 15px;
}
li {
    list-style: none;
}

/* Header */



h1, h2 { text-align: center;}

.nav1 {
    float:right;
    margin: 0px 0px;
    font-family: "crete round", sans-serif;
    font-size: 13px;
    padding: 20px 15px;
    border-left: 1px solid rgba(232, 223, 223, 0.872);
    height: 61px;
    border-radius: 10px;
}

header nav ul li a { 
    color: rgba(232, 223, 223, 0.872);
}

.logo {
    width: 60px;
    height: auto;
    float: left;
    margin: 5px 0 30px 25px;
    border-right: 1px solid rgba(232, 223, 223, 0.872);
}


/* FORMULAIRE */

