/* Général */

* {
    padding: 0px;
    margin: 0;
    position: static;
}

.container {
    width: auto;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: rgb(2,0,36);
background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 51%, rgba(38,125,143,1) 95%);
    height: 100px;
    border-bottom: 1px solid rgba(232, 223, 223, 0.872);
    border-radius: 10px;

}

h1 {
    font-size: 45px;
}
h2  {
    font-size: 18px;
    padding-bottom: 5px; 
}
h1 h2 {
    font-family: "Crete Round", sans-serif;
}

.bleu {color: rgba(19, 34, 144, 0.945)}
.blanc {color: rgba(232, 223, 223, 0.872)}
.rouge {color: rgb(174, 13, 13)}

a {
    text-decoration: none;
}
a:hover {
    font-size: 15px;
}
li {
    list-style: none;
}

/* Header */



h1, h2 { text-align: center;}

.nav1 {
    float:right;
    margin: 0px 0px;
    font-family: "crete round", sans-serif;
    font-size: 13px;
    padding: 20px 15px;
    border-left: 1px solid rgba(232, 223, 223, 0.872);
    height: 61px;
    border-radius: 10px;
}

header nav ul li a { 
    color: rgba(232, 223, 223, 0.872);
}

.logo {
    width: 60px;
    height: auto;
    float: left;
    margin: 5px 0 30px 25px;
    border-right: 1px solid rgba(232, 223, 223, 0.872);
}


/* Pageprincipale */

/* JE N ARRIVE PAS A CENTRER LES 3 ARTICLES */

.pageprincipale {
height: 650px;
background-color: black;
background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 51%, rgba(38,125,143,1) 95%);
width: auto;
border-bottom: 1px solid rgba(232, 223, 223, 0.872);
border-radius: 10px;
}

.articles{
    margin: 0 90px 50px 0px;
    
}
.container2 {
    padding: 250px 200px 50px 200px;
}
article {
    background-color: white;
    width: 200px;
    height: 300px;
    float: left;
    border-radius: 10px;
    border: 1px solid;


}

.bouton {
    height: 30px;
    border-radius: 3px;
    color: rgb(36, 34, 34);
    border: 1px dashed black;
    display: block;
    margin-top: 250px;
    margin-left: 70px;
    padding: 0 3px;
    font-family: arial;
    background-color: bisque;
    
}
.bouton:hover {
    background-color: rgb(131, 131, 201);
}

/* FOOTER */

footer {
    height: 200px;
    display: flex;
    
}
.contactect {
    width: 33.3%;  
    height: 200px;
}

.nav2 {
    
    
    background-color:white;
    padding-top:25px;
    text-align: center;
    border-bottom: 1px solid blueviolet;
    padding-bottom: 20px;
    border-radius: 10px;

}


footer .nav2 ul li a {
    color: #003566;
    font-family: "crete round", sans-serif;
    font-size: 12px;
}

.rs   {
    float: left;
    background: rgb(19,34,144);
background: linear-gradient(45deg, rgba(19,34,144,0.9682072658164829) 47%, rgba(19,34,144,0.9) 78%, rgba(144,19,52,0.9) 97%);
    width: 33.3%;
    height: 100px;
    border-radius: 10px;
}

.riendutout {
    background: rgb(174,13,13);
    background: linear-gradient(45deg, rgba(174,13,13,1) 22%, rgba(110,6,6,1) 73%);
    height: 100px;
    width: 33.3%;
    border-radius: 10px;
   
}
/* COMMENT FAIRE POUR ADAPTER A LA TAILLE DE L'ECRAN? */


